{% extends "slovnik/base.html" %}

{% block navigation %}
    <li><a href="{% url 'slovnik:learn' %}">Slovnik</a></li>
    <li><a href="{% url 'slovnik:category' object.category_name_short %}">{{ object.category_name }}</a></li>
{% endblock navigation %}

{%  block content %}
<h1> Detail kategorie {{ object.category_name }}</h1>

<p>Blabla hovno popis, je tu miliarda picovin atd.</p>

{% with sorted_word_set=object.word_set.all|dictsort:'word_name_short' %}
    <a href="{% url 'slovnik:detail' object.category_name_short sorted_word_set.0.word_name_short %}">Zahájit megaučení</a>
{% endwith %}
{% endblock content %}