{% extends "slovnik/base.html" %}

{% block navigation %}
    <li><a href="{% url 'slovnik:learn' %}">Slovnik</a></li>
    <li><a href="{% url 'slovnik:category' object.category.category_name_short %}">{{ object.category.category_name }}</a></li>
    <li><a href="{% url 'slovnik:detail' object.category.category_name_short object.word_name_short %}">{{ object.word_name }}</a></li>
{% endblock navigation %}

{% block content %}
<h1> Detail slova - {{ object.word_name }}</h1>

<img src='{{ object.image.url }}' />
<br>
<audio controls>
  <source src='{{ object.audio.url }}' type="audio/mp3">
</audio>
{% if word_details.prev %}
<a href= '{% url 'slovnik:detail' object.category.category_name_short word_details.prev.word_name_short %}'>Předchozí ({{ word_details.prev.word_name }})</a>
{% endif %}

{% if word_details.next %}
<a href= '{% url 'slovnik:detail' object.category.category_name_short word_details.next.word_name_short %}'>Následující ({{ word_details.next.word_name }})</a>
{%  endif %}

<p>Pozice:{{ word_details.current_position }} / {{ word_details.word_count }}</p>
{%  endblock content %}