{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static '/slovnik/rating.css' %}" />
    <title>Afaslovník - Hodnocení obrázků - login</title>
     <script type="text/javascript">
    function validateForm()
    {
    var a=document.forms["Form"]["user"].value;
    if (a==null || a=="")
      {
          document.getElementById("hidden").style.display = "inline";
            return false;
      }
    }
    </script>
</head>
<body>
    <div id="wrapper">
    <h3>Přihlášení do pojmenování obrázků</h3>
    <p>Pokud máte již vytvořený účet, přihlašte se prosím. <br>
        Pokud účet ještě nemáte, klikněte na <b>Nový uživatel</b>.</p>
    <form name="Form" action="{% url 'slovnik:rating-index' %}" method="POST" onsubmit="return validateForm()">
        {% csrf_token %}
        Jméno: <input type="text" name="user" value=""><br>
        Heslo: <input type="password" name="password" value=""><br>
        {% if failed == 1 %}
            <p style="color: red">Byly zadány špatné přihlašovací údaje.</p><br>
        {% endif %}
        {% if new == 1 %}
            <p style="color: green">Nový účet byl vytvořen, nyní se můžete přihlásit.</p><br>
        {% endif %}
        <input type="submit" value="Přihlásit se">  <a href="{% url 'slovnik:rating-newuser' %}">Nový uživatel</a>
    </form>

    </div>
</body>
</html>