{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static '/slovnik/rating.css' %}" />
    <title>Afaslovnik - pojmenovani obrazku</title>
</head>
<body>
<div id="wrapper">

    {% if done == 0 %}

     <img src="{{ image.image.url }}">

    <form method="post" action="{% url 'slovnik:rating-images' %}">
        {% csrf_token %}
        Slovo: <input type="text" value="" name="name1"> <br><br>
        Pokud Vás pro tento obrázen napadlo ještě další pojmenování, napište to do následujících polí. <br><br>
        Alternativa 1:<input type="text" value="" name="name2"> <br>
        Alternativa 2:<input type="text" value="" name="name3"> <br>
        <input type="hidden" name="image_id" value="{{ image.id }}">
        <input type="submit" value="další">
    </form><br><br>

        {{ pos }} / {{ total }}

    {%  else %}
    <p>Všechny obrázky byly pojmenovány. Děkujeme.</p>

    {% endif %}
</div>
</body>
</html>